
/* azul teknica: #192347 */
/* naranjo teknica: #f19a00 */

*{
    /* margin: 0px;
    padding: 0px;
    border: 0px; */
}
body{
    background-color:#161618;
}

.nav{
    background-color: #192347;
}

#teknica{
    color: white;
    font-weight: bold;
}

#middlebrands{
    color: #f19a00;
    font-weight: bold;
}

#itau{
    color:yellow;
    font-weight: bold;
}

.register-container, .login-container{
    color: white;
    text-align: center;
    background-color:#192347;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}

input{
    margin: 2px;
    border-radius: 5px;
    outline: none;
}

input:focus{
    border: 1px solid #f19a00;
    box-shadow: 2px 2px 10px #f19a00;
}

.errorlist{
    list-style-type: none;
    color: #f19a00;
}

.btns{
    color: white;
    font-weight: bold;
    background-color: #f19a00;
}

.generic-form{
    margin: auto;
}
.stulzform{
    border-radius: 20px;
}

.carr{
    margin-top: 250px;
}

.salaups-element{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 20%;
    margin: 5px;
    margin-top: 100px;
    padding:100px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    background-color: #192347;
    color: white;
}
    
.salaups-element:hover{
    text-decoration: none;
    border: 1px solid #f19a00;
    box-shadow: 2px 2px 10px #f19a00;
}

.modal_background{
    background-color:#192347;
    font-weight: bold;
}

.ups-container{
    text-align:center;
}

.inline-block{
    display:inline-block;
}

.mainCharts{
    width:90%;
    text-align:center;
    margin: auto;
}

.admin-title{
    text-align:center;
    width: 40%;
    margin: auto;
}

.charts{
    background-color: #222124;
    margin: 20px;
    border-radius: 15px;
}
.tabs{
    display: flex;
    background-color: #222124;
    width:80%;
    margin:auto;
    list-style: none;
    padding:10px;
    border-radius: 15px;
    margin-top: 20px;
}

.tabs>li{
    width: 15%;
    text-align: center;
}

.activo{
    color: #2088e8;
}
.tabs>li>a{
    color:white;
    text-decoration:none;
}

.carr{
    width:1080px;
    max-height: 100px;
    margin: auto;
    margin-top: 80px;
}

#container-carr{
    width:90%;
    margin: auto;
    text-align:center;
}

span{
    margin-right: 10px;
}

.chooseview-container{
    text-align: center;
    width: 80%;
    margin: auto;
}

.go-up{
    display:none;
    padding: 20px;
    border-radius: 120px;
    color: white;
    background-color: #222124;
    cursor: pointer;
    position:fixed;
    bottom:0;
    right:0;
}