{% extends 'layout.html' %} 
{% load crispy_forms_tags %}
{% load static %} 
{% block content %}
{% if request.session.is_admin == False and request.session.is_tech == True %}
<a class="btn btn-dark atras" href="{% url 'tech_view' %}">Atrás</a>
{% endif %}
{% if request.session.is_admin == True and request.session.is_tech == True %}
<a class="btn btn-dark atras" href="{% url 'choose_view' %}">Atrás</a>
{% endif %}

<h1 class="eq-ge1">Grupos</h1> 
  <a class='ge-element geone' href="#modal_geOne" data-toggle="modal" data-target="#modal_geOne" value="electrógeno C15">Grupo Electrógeno C15</a>
  <a class='ge-element getwo' href="#modal_geTwo" data-toggle="modal" data-target="#modal_geTwo" value="electrógeno C18">Grupo Electrógeno C18</a>
<h1 class="eq-ge2">Electrógenos</h1>

<div class="modal" tabindex="-1" role="dialog" id="modal_geOne">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal_background text-white">
        <h5 class="modal-title">Grupo C15</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal_background text-white">
      <form action="{% url 'data_ge_one' %}" method="post">
      {% csrf_token %}
      <table>
      {{geoneform.state|as_crispy_field}}
      {{geoneform.temperature|as_crispy_field}}
      {{geoneform.battery_volt|as_crispy_field}}
      {{geoneform.hours_running|as_crispy_field}}
      {{geoneform.comment|as_crispy_field}}
      </table>
      </div>
      <div class="modal-footer modal_background">
        <button type="submit" class="btn btn-primary">Enviar datos</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modal_geTwo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal_background text-white">
        <h5 class="modal-title">Grupo C18</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal_background text-white">
      <form action="{% url 'data_ge_two' %}" method="post">
      {% csrf_token %}
      <table>
      {{getwoform.state|as_crispy_field}}
      {{getwoform.temperature|as_crispy_field}}
      {{getwoform.battery_volt|as_crispy_field}}
      {{getwoform.hours_running|as_crispy_field}}
      {{getwoform.comment|as_crispy_field}}
      </table>
      </div>
      <div class="modal-footer modal_background">
        <button type="submit" class="btn btn-primary">Enviar datos</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}