<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--BOOTSTRAP-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <!-- MASTER CSS-->
    <link rel="stylesheet" href="{% static 'master/css/style.css' %}" />
    <title>Data Viewer</title>

    <!-- FAVICON -->
    <link
      rel="icon"
      href="{% static 'master/img/diagrama.png' %}"
      type="favicon.ico"
    />
  </head>
  <body>
{% if request.session.id %}
  <div id="sidebar">
    <i id="sidebar-btn" class="fas fa-angle-right fa-customize" href=""></i>
  <ul>
    <li><a href="{% url 'profile' %}">Perfil</a></li>
    {% if request.session.is_tech%}
    <li><a href="{% url 'create_alert' %}">Crear alerta</a></li>
    {% endif %}
    {% if request.session.is_admin%}
    <li><a href="">Crear recordatorio</a></li>
    {% endif %}
    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
  </ul>
  </div>
  {% endif %}


  <nav class="nav navbar navbar-expand-lg">
    <div class="container-fluid">
      {% comment %} <a class="navbar-brand text-white" href="#"
        >Data Viewer<span id="teknica">teknica</span
        ><span id="separador_marcas">-</span><span id="itau">itaú</span></a
      > {% endcomment %}
      <a class="navbar-brand text-white" href="#"><span class="fas fa-chart-pie"></span> Data Viewer </a>

      
        {% if request.session.is_admin and request.session.is_tech %}
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'choose_view' %}"
            >Home</a>
          {% endif %} 


        {% if request.session.is_admin and not request.session.is_tech %}
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'admin_view' %}"
            >Home</a>
          {% endif %} 

        {% if request.session.is_tech and not request.session.is_admin %}
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'tech_view' %}"
            >Home</a>
          {% endif %} 

          {% if not 'id' in request.session %}

          <a
            class="nav-link active text-white navbar-right"
            href="{% url 'login' %}"
            >ingreso</a
          >

          {% endif %} 
          {% if 'id' in request.session %}

          
        <li id="greetings" class=" nav-link collapse navbar-collapse nav-item active">
         Hola {{ request.session.first_name }} <span class="fas fa-user user-icon"></span>
        </li>

        <li class="nav-link collapse navbar-collapse nav-item active">
            <a class="text-white far fa-bell"></a>
        </li>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>


  {% block content %} {% endblock %}

  <!--JQUERY-->

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!--JS Bootstrap-->

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

  <!--Bootstrap min-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">


  <!--Chart JS-->
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

  <!--JavaScript-->

    <script src="{% static 'master/js/app.js' %}"></script>

  <!--Font Awesome-->

    <script src="https://kit.fontawesome.com/6d1f8fd4bd.js" crossorigin="anonymous"></script>


  </body>
</html>
